.os-menu{
    position: relative;
    width: 100vw;
    height: 100vh;
       .os-overlay{
          position: absolute;
          width: 90vw;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(0, 0, 0, 0.3);
          z-index: 1000; /* Add this line */
       .os-menu-ul{
          display: flex;    z-index: 1000;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 30px;
          li {
             list-style: none;
             transition: 0.3s;
             color: var(--light);
             &:hover {
                cursor: pointer;
                transition: 0.3s;
                transform: scale(1.1, 1.1);
                color: var(--light);
             }
             font-size: 20px;
             font-weight: bold;
             list-style: none;
             color: var(--dark-blue);
             a{
             text-decoration: none;
                font-size: 20px;
                font-weight: 800;
                color: #fff;
             }  
          }
       }
    }
 }